@charset "utf-8";
/* CSS Document */

#wrapper
{
	width:900px;
	margin:auto;
	background-color:#6CC;
	height:900px;
}

.btn
{
	background-color:#0C0;
	text-align:center;
	height:35px;
	width:100px;
	margin-left:170px;
	border-radius:8px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
}

.txtbxIndex
{
	height:25px;
	width:200px;
	border-style:groove;
	border-width:medium;
	border-radius:8px;
}

#login
{
	margin-top:6%;
	margin-left:30px;
	background-color:#9CC;
	width:320px;
	padding:20px;
	border:2px;
	border-radius:8px;
}

#signup
{
	margin-top:-15%;
	margin-left:450px;
	background-color:#9CC;
	border-radius:8px;
	border:2px;
	width:370px;
	padding:20px;
}